body {
    font-family: Arial;
  }
table {
    border-collapse: collapse;
    border: 1px solid rgb(173, 16, 221);
    text-align: center;
	vertical-align: middle;
  }
  caption {
    font-weight: bold;
    font-size: 24px;
    text-align: left;
    color: #333;
    margin-bottom: 16px;
  }
  thead {
    background-color: rgb(20, 230, 143);
    color: white;
    font-size: 0.875rem;
	text-transform: uppercase;
	letter-spacing: 2%;
  }
  
  th, td {
    padding: 8px;
  }
  /* Table size */
  thead th {
    width: 25%;
  }
   /* Specific cell */
  .cell-highlight {
    background-color: gold;
    font-weight: bold;
  }
  tbody tr:nth-child(odd) {
    background-color: rgb(38, 115, 167);
  }
  
  tbody tr:nth-child(even) {
    background-color: rgb(31, 180, 180);
  }
  tbody th {
    background-color: rgb(38, 115, 167);
    color: rgb(2, 5, 22);
    text-align: left;
  }
  tbody tr:nth-child(even) th {
    background-color: rgb(31, 180, 180);
  }